* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Akkurat Mono";
  src: url(../public/AkkuratMono-Regular.otf);
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url(../public/PPNeueMontreal-Variable.ttf);
}

html,body {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 500vw;
  height: 90vh;
  display: flex;
}

nav {
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 2em;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: white;
  font-family: "Akkurat Mono";
  text-transform: uppercase;
  font-size: 12px;
}

.timeline {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 10vh;
  padding: 2.25em 1em;
  display: flex;
  justify-content: space-around;
}

.marker {
  width: 1px;
  height: 100%;
  background: white;
}

.scroller {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
  font-family: "Akkurat Mono";
  text-transform: uppercase;
  background: black;
  cursor: pointer;
  line-height: 120%;
}

span {
  font-family: "Akkurat Mono";
  font-size: 13px;
  padding: 0 3em;
}

section {
  position: relative;
  width: 100vw;
  height: 100%;
  padding: 6em 2em 0 2em;
  display: flex;
  gap: 2em;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
}

h1 {
  width: 50%;
  font-family: "PP Neue Montreal";
  font-weight: 400;
  font-size: 40px;
  text-transform: uppercase;
}

p {
  width: 40%;
  font-family: "PP Neue Montreal";
  font-weight: 400;
  font-size: 16px;
}

#section-1, #section-4 {
  display: flex;
  justify-content: space-between;
}

.img-2,
.img-3,
.img-4,
.img-6,
.img-7,
.img-9 {
  flex: 1;
}

.img-1,
.img-5,
.img-8 {
  flex: 2;
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}