* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url(../public/PPNeueMontreal-Bold.ttf);
}

@font-face {
  font-family: "PP Editorial Old";
  src: url(../public/PPEditorialNew-Bold.ttf);
}

html, body {
  width: 100%;
  height: 100%;
  font-family: "PP Neue Montreal";
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  text-transform: uppercase;
  font-size: 200px;
  font-weight: 400;
  letter-spacing: -4px;
}

section.hero {
  width: 100vw;
  height: 100vh;
  background: url(../public/hero.jpg) no-repeat 50% 50%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-family: "PP Editorial Old";
  font-weight: lighter;
  color: white;
}

section.info {
  width: 100vw;
  height: 150vh;
  background-color: black;
  color: white;
}

.header-row{
  width: 100%;
  height: 250px;
  padding: 0 2em;
}

.header-row:nth-child(1) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-row:nth-child(2) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-info {
  position: relative;
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  color: white;
}

.header-info p {
  padding: 1em;
  font-family: "PP Editorial Old";
  font-size: 52px;
  font-weight: lighter
}

.header-images {
  width: 100%;
  height: 250px;
  padding: 1em;
  display: flex;
  gap: 1em;
}

.img {
  width: 100%;
  height: 100%;
}

section.pinned {
  position: absolute;
  top: 100dvh;
  width: 100%;
  height: 250vh;
  z-index: 2;
}

section.whitespace {
  position: relative;
  width: 100%;
  height: 300vh;
  background-color: black;
  z-index: -1;
}

.revealer {
  position: absolute;
  transform: translate(-50%, 0%);
  left: 35%;
  margin-top: 325px;
  width: 120px;
  height: 120px;
}

.revealer .revealer-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  clip-path: polygon(45% 0%, 55% 0%, 55% 100%, 45% 100%);
}

.revealer .revealer-2 {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(90deg);
  width: 100%;
  height: 100%;
  background-color: white;
  clip-path: polygon(45% 0%, 55% 0%, 55% 100%, 45% 100%);
}

section.website-content {
  position: relative;
  width: 100%;
  height: 150vh;
  background-color: white;
  z-index: 10;
}

.website-content h1 {
  font-size: 72px;
  letter-spacing: 0px;
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}