.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  .wrapper {
    display: flex;
    justify-content: space-between;
    width: inherit;
    padding: 3rem;
    .title {
      span {
        font-size: 1.6rem;
      }
    }
  }
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  .title {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;

    z-index: 10;
    mix-blend-mode: difference;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    h1 {
      font-size: 25rem;
      text-align: center;
      color: #eeeeee;
    }
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: inherit;

    .gallery {
      position: relative;
      width: 100%;
      height: 88rem;
      perspective: 1000px;

      .frame {
        position: absolute;
        border: 1px soild #0b0b0b;
        border-radius: 0.9rem;
        overflow: hidden;
        filter: drop-shadow(0px 1.125px 36px rgba(0, 0, 0, 0.15));

        width: auto;
        height: auto;
        &:nth-of-type(1) {
          top: 10.3rem;
          left: 71.3rem;
          z-index: 1;
        }
        &:nth-of-type(2) {
          top: 5rem;
          left: 29.5rem;
        }
        &:nth-of-type(3) {
          top: 41.5rem;
          left: 19.6rem;
          z-index: 2;
        }
        &:nth-of-type(4) {
          top: 0rem;
          left: 19.6rem;
        }
        &:nth-of-type(5) {
          top: 39rem;
          left: 42rem;
        }
        &:nth-of-type(6) {
          top: 43em;
          left: 10rem;
        }
        .figure {
          position: relative;
          img {
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}
