.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: #0f0f0f;
  }

  .main .container {
    display: flex;
  }

  .main .container svg {
    height: 50px;
    padding: 50px;
    fill: #c8bdb0;
    transition: fill 0.2s;
    cursor: pointer;
  }

  .main .container svg:hover {
    fill: #ec4e39;
  }

  .main p {
    color: #494136;
  }
