* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Saans TRIAL";
  src: url(../public/SaansTRIAL-Bold.ttf);
}

html, body {
  width: 100%;
  height: 100%;
}

section {
  position: relative;
  width: 100%;
  min-height: 100dvh;
}

section.hero-img,
section.about-img {
  height: 200vh;
}

.hero {
  background-color: #757637;
}

.about {
  background-color: #375955;
}

.footer {
  background-color: #645439;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Saans TRIAL";
  font-size: 10vw;
  font-weight: 600;
  letter-spacing: -0.02em;
  color: black;
  opacity: 0.5;
}

.block-container {
  position: absolute;
  width: 100%;
  height: 400px;
}

.hero-img .blocks-container.bottom {
  top: 0;
}

.hero-img .blocks-container.top {
  bottom: 0;
}

.blocks-container.top {
  top: 0;
}

.blocks-container.bottom {
  bottom: 0;
}


.blocks-row {
  width: 100%;
  height: 100px;
  overflow: hidden;
  display: flex;
}

.block {
  width: 100px;
  height: 100%;
  transition: opacity 100ms;
}

.blocks-container.top .blocks-row .block {
  opacity: 1;
}

.blocks-container.bottom .blocks-row .block {
  opacity: 0;
}

.hero-img .blocks-container.bottom .blocks-row .block {
  background-color: #757637;
}

.about-img .blocks-container.top .blocks-row .block {
  bottom: 0;
  background-color: #375955;
}

.about-img .blocks-container.bottom .blocks-row .block {
  background-color: #375955;
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}