* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Circular Std";
  src: url(../public/circular-std-medium-500.ttf);
}

html, body {
  width: 100%;
  height: 3000dvh;
  background-color: #000;
  font-family: "Circular Std";
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 400px;
  z-index: 0;
  pointer-events: none;
}

nav, footer {
  position: fixed;
  width: 100%;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  mix-blend-mode: difference;
}

a, p {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
}

a span {
  padding: 0 2em;
}

.links {
  display: flex;
  gap: 2em;
}

nav {
  top: 0;
}

footer {
  bottom: 0;
}

.gallery {
  position: fixed;
  width: 200%;
  height: 100%;
  left: -75%;
  overflow: hidden;
}

.item {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 80px;
  cursor: pointer;
}

.item p {
  width: 100%;
  font-size: 42px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
}

.item p span {
  padding: 0 20px;
  font-size: 16px;
}