.burger{
    width: 22.5px;
    position: relative;
    pointer-events: none;
    justify-items: center;
    align-items: center;
}

.burger::after, .burger::before{
    content: "";
    height: 1px;
    width: 100%;
    background-color: black;
    position: relative;
    display: block;
    transition: all 1s cubic-bezier(0.76, 0, 0.24, 1);
}

.burger::after{
    top: -4px;
}

.burger::before{
    top: 4px;
}

.burgerActive::after{
    transform: rotate(45deg);
    top: -1px;
}

.burgerActive::before{
    transform: rotate(-45deg);
    top: 1px;
}