::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  font-family: "Circular Std";
  font-weight: 500;
}

p, a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Circular Std";
  font-size: 14px;
  font-weight: 500;
  color: black;
  transition: color 0.3s
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2em;
  display: flex;
  justify-content: space-between;
}

.nav-items {
  position: fixed;
  top: 2em;
  left: 40%;
  display: flex;
  gap: 0.25em;
}

nav a, .nav-items a {
  text-transform: none;
}

.whitespace .w-1 {
  width: 100%;
  height: 50dvh;
}

.whitespace .w-2 {
  width: 100%;
  height: 45dvh;
}

.gallery {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20em;
}

.project {
  position: relative;
  width: 100%;
  height: 100dvh;
  display: flex;
}

.index {
  flex: 1;
  padding-left: 2em;
  height: 0;
}

.images {
  flex: 6;
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: 100dvh;
}

.img {
  flex: 1;
  width: 200px;
  background-color: lightgray;
  overflow: hidden;
}

.img img {
  opacity: 0.9;
}

.index .mask {
  position: absolute;
  top: 0;
  left: 2em;
  height: 70px;
  overflow: hidden;
  will-change: transform;
}

.index .mask h1 {
  position: relative;
  will-change: transform;
}

.index .mask h1 span {
  position: relative;
  display: inline-block;
  will-change: transform;
}

.digit-wrapper, .digit-wrapper span {
  display: inline-block;
  position: relative;
  will-change: transform;
}

.project-names {
  position: fixed;
  width: 200px;
  top: 50dvh;
  left: 40%;
  transform: translateX(0%);
}

.indicator {
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: transform;
}

.symbol {
  width: 12px;
  height: 12px;
  background-color: black;
  clip-path: polygon(0 50%, 100% 100%, 100% 0);
}

.name {
  height: 18px;
}

.name p {
  color: gray
}

.name.active p {
  color: black
}

.preview-img {
  position: fixed;
  bottom: 2em;
  right: 2em;
  max-width: 40dvw;
  height: calc(50dvh - 2em);
  opacity: 0.9;
}

.progress-bar {
  position: fixed;
  top: 0;
  right: 0;
  width: 8px;
  height: 100dvh;
  background-color: black;
  transform-origin: top;
  transform: scaleY(0)
}

.footer p {
  position: fixed;
  bottom: 2em;
  left: 40%;
  text-transform: none;
}

@media (max-width: 1000px) {
  .nav-items,
  .footer p {
    left: 60%;
  }

  .index {
    flex: 1.5
  }

  .project-names {
    left: 60%;
  }

  .preview-img {
    top: 6em;
    width: calc(45% - 4em);
    height: calc(50dvh - 8em);
  }
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}