@font-face {
  font-family: "FK Display";
  src: url(../public/FKDisplay-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: black;
}

.gallery {
  width: 200vw;
  height: 200vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10em;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.row:nth-child(2) {
  justify-content: space-around;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item {
  position: relative;
  width: 400px;
  height: 274px;
  overflow: hidden;
}

.video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(2);
  transition: 0.3s all;
}

.video-wrapper > div {
  opacity: 0;
  transition: 300ms;
}

.item:hover .video-wrapper > div {
  opacity: 1;
}

#videoName {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: "FK Display";
  color: #FFF;
  opacity: 0;
  transition: 0.15s;
  pointer-events: none;
}

.item:hover #videoName {
  opacity: 1;
}

.preview-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.preview-img img {
  opacity: 1;
  transition: 300ms;
}

.item:hover .preview-img img {
  opacity: 0;
}

