* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 500dvh;
  background: #000;
}

h1 {
  margin: 0.25em 0;
  font-size: 80px;
  font-weight: 500;
  letter-spacing: -0.02em;
}

p {
  font-size: 24px;
  font-weight: 400;
  line-height: 175%;
}

nav {
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.links {
  display: flex;
  align-items: center;
  gap: 2em;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.logo a {
  font-size: 28px;
}

.lottie-container .animation {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: -1;
  filter: saturate(2);
}

.animation::after {
  content: "";
  background-image: ();
  width: 200%;
  height: 200%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.1;
  animation: animateGrain 8s steps(10) infinite;
}

.gradient {
  width: 100vw;
  height: 200vh;
  position: relative;
  background: linear-gradient(
  180deg,
  rgba(0, 0, 0, 0) 0%,
  rgba(0, 0, 0, 0) 100%);
  z-index: 1;
}

.website-content {
  position: relative;
  width: 100%;
  height: 300dvh;
  padding: 2em;
  background-color: #000;
  color: #fff;
  z-index: 1;
}

.end-lottie {
  position: absolute;
  top: 100dvh;
  width: 100%;
  height: 1px;
}

@keyframes animateGrain {
  0%,
  100% {
    transform: translate(0, 0)
  }
  10% {
    transform: translate(-5, -10%);
  }
  20% {
    transform: translate(-15%, -20%);
  }
  30% {
    transform: translate(-5%, -10%);
  }
  40% {
    transform: translate(-15%, -20%);
  }
  50% {
    transform: translate(-5%, -10%);
  }
  60% {
    transform: translate(-15%, -20%);
  }
  70% {
    transform: translate(-5%, -10%)
  }
  80% {
    transform: translate(-15%, -20%);
  }
  90% {
    transform: translate(-5%, -10%);
  }
  100% {
    transform: translate(-15%, 20%);
  }
}