* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-family: "PP Neue Montreal";
    color: white;
}

@font-face {
    font-family: "PP Neue Montreal";
    src: url(./PPNeueMontreal-Bold.ttf);
}

.wrapper {
    width: 100%;
    height: 100%;
    background-color: black;
    transition: 0.5s background-color;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a, p {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.5s color;
}

h1 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 1em;
    transition: 0.5s color;
}

nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.4rem;
    z-index: 2;
}

.container {
    width: 100%;
    height: 100%;
    padding: 4em 2.4em;
}

.gallery {
    position: relative;
    width: 100%;
    display: flex;
    z-index: 0;
}

.minimap {
    position: sticky;
    top: 0;
    width: 24%;
    height: 100dvh;
    padding-top: 300px;
    overflow: hidden;
    background-color: black;
    transition: 0.5s background-color;
}

.active-img-indicator {
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 124px;
    border: 1.5px solid white;
    border-radius: 4px;
    mix-blend-mode: difference;
    z-index: 2;
}

.preview {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 1254px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-preview {
    position: relative;
    width: 100px;
    height: 124px;
    padding: 10px;
    overflow: hidden;
}

.images {
    position: relative;
    top: 0;
    width: 75%;
}

.item {
    position: relative;
    width: 500px;
    height: 540px;
    overflow: hidden;
    margin: 50px auto;
}








.item-img {
    width: 500px;
    height: 550px;
}

.item-copy {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    text-transform: uppercase;
}

.hero-img {
    margin-bottom: 2em;
}

.wrapper.light-theme,
.wrapper.light-theme .minimap {
    background-color: white;
}

.wrapper.light-theme a,
.wrapper.light-theme p,
.wrapper.light-theme h1 {
    color: black;
}

@media(max-width:900px){
    .item{
        width: 400px;
        height: 500px;
    }
}