* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "PP Supply Mono";
  src: url(../public/PPSupplyMono-Regular.ttf);
}

html, body {
  width: 100%;
  height: 100%;
  font-family: "PP Supply Mono";
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p {
  color: white;
  font-size: 13px;
}

.overlay {
  width: 100%;
  height: 100vh;
}

.video-container {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-timeline {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 160px;
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 0.5em;
  cursor: pointer;
}

.video-timestamps {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.video-frames {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1em;
  border-top: 1px dashed white;
  border-bottom: 1px dashed white;
  padding: 0.75em 0;
}

.frame {
  position: relative;
}

.frame::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

.frame:hover::after {
  background-color: rgba(0, 0, 0, 0);
}

.video-marker {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2px;
  height: 150px;
  background-color: red;
  transition: left 0.5s linear;
  z-index: 2;
}

.video-marker::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: red;
}

.cursor {
  position: absolute;
  top: 20px;
  left: 20px;
  text-transform: uppercase;
  transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  pointer-events: none;
  z-index: 2;
}

@media (max-width: 900px) {
  .video-timeline {
    height: 100px;
  }

  .video-timestamps p:nth-child(2),
  .video-timestamps p:nth-child(3),
  .video-timestamps p:nth-child(5),
  .video-timestamps p:nth-child(6),
  .video-timestamps p:nth-child(8),
  .video-timestamps p:nth-child(9),
  .video-timestamps p:nth-child(11),
  .video-timestamps p:nth-child(12) {
    display: none;
  }

  .video-frames {
    gap: 0.25em;
    border-bottom: none;
  }

  .video-marker {
    height: 100px;
  }

  .cursor {
    display: none;
  }
}