* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "PP Neue Montreal" !important;
  background: #000;
}

p {
  font-size: 12px;
  font-weight: 500;
  color: #6a6a6a;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.slider {
 position: absolute;
 top: 5vh;
 width: 100%;
 height: 100%;
 perspective: 175px;
 perspective-origin: 50% 100%;
 overflow: hidden;
}

.card {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0px);
  width: 65%;
  height: 500px;
  background: #000;
  border-right: 1px solid #303030;
  border-radius: 7px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #303030;
  border-radius: 8px;
  z-index: 2;
}

.card-info {
  width: 100%;
  padding: 0.5em 0.75em;
  display: flex;
  align-items: center;
  background-color: #000;
  z-index: 2;
}

.card-item {
  flex: 1;
}

.card-item p {
  font-size: 7px;
  color: #6a6a6a
}

.card-item:nth-child(2) {
  text-align: center;
}

.card-item:nth-child(2) p {
  font-size: 8px;
  font-weight: 600;
  color: #fff
}

.card-item:nth-child(3) {
  text-align: right;
}

.video-player {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-player > div {
  position: relative;
  transform: scale(1.5);
}

@media(max-width: 900px) {
  .video-player > div {
    transform: scale(3);
  }
}