.nav {
  overflow: hidden;

  .wrapper {
    display: flex;
    gap: 50px;
    margin-bottom: 80px;
    p {
      margin: 0px;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1000px) {
  .nav {
    .wrapper {
      margin-bottom: 0px;
      justify-content: space-between;
    }
  }
}

.body {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.body a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.body p {
  margin: 0px;
  display: flex;
  overflow: hidden;
  font-size: 32px;
  padding-right: 30px;
  padding-top: 10px;
  font-weight: 300;
}

@media only screen and (min-width: 1000px) {
  .body {
    max-width: 1200px;
    margin-top: 80px;
  }
  .body p {
    font-size: 5vw;
    padding-right: 2vw;
  }
}

.imageContainer {
  display: none;
}

@media only screen and (min-width: 1000px) {
  .imageContainer {
    display: block;
    width: 450px;
    height: 550px;
    position: relative;
    img {
      object-fit: cover;
    }
  }
}

.footer {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 40px;
}

.footer ul {
  width: 50%;
  margin-top: 10px;
  overflow: hidden;
  list-style-type: none;
  padding: 0;
}
.footer li span {
  color: #9f9689;
}

@media only screen and (min-width: 1000px) {
  .footer {
    justify-content: space-between;
  }
  .footer ul {
    width: auto;
  }
}
