:root {
  --bg: #0f0f0f;
  --text: #a5a4a5
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Neue Montreal";
  src: url(../public/PPNeueMontreal-Variable.ttf);
}

@font-face {
  font-family: "Schabo";
  src: url(../public/SCHABO-Condensed.woff);
}

html, body {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg);
  color: var(--text);
  font-family: "Neue Montreal";
}

.bubbles {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 453.2px;
  height: 655.6px;
  background: url(../public/bubble.png) no-repeat;
  background-size: cover;
  mix-blend-mode: difference;
}

h1 {
  font-family: "Schabo";
  font-size: 100px;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
}

p {
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: var(--text);
}

.logo {
  position: fixed;
  margin: 2rem;
}

.logo a{
  position: relative;
  font-size: 12px;
  text-transform: uppercase;
}

.logo .logo-revealer {
  position: absolute;
  top: 25px;
  width: 100%;
  height: 100%;
  display: block;
  background: var(--bg);
}

.contact {
  position: fixed;
  right: 0;
  margin: 2rem;
}

.contact a{
  position: relative;
  font-size: 12px;
  text-transform: uppercase;
}

.contact .contact-revealer {
  position: absolute;
  top: 25px;
  width: 100%;
  height: 100%;
  display: block;
  background: var(--bg);
}

.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.hero > div {
  display: flex;
  flex-direction: column;
  padding: 15rem 5rem 5rem 5rem;
}

.header {
  flex: 3
}

.copy {
  flex: 2;
}

.hero .header .row {
  position: relative;
}

.hero .header .row h1 {
  position: relative;
}

.hero .header .row .h1-revealer {
  position: absolute;
  top: 150px;
  width: 100%;
  height: 100%;
  display: block;
  background-color: var(--bg);
}

.copy-top .row,
.copy-bottom .row {
  position: relative;
}

.copy-top .row p,
.copy-bottom .row p {
  position: relative;
}

.copy-top .row .p-revealer,
.copy-bottom .row .p-revealer {
  position: absolute;
  top: 30px;
  width: 100%;
  height: 100%;
  display: block;
  background-color: var(--bg);
}

.pre-loader {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 2;
}

.loader-wrapper {
  position: relative;
  width: 5px;
  height: 100px;
  background-color: rgba(240, 240, 240, 0.25);
  overflow: hidden;
  transform: rotate(40deg);
}

.loader {
  position: absolute;
  top: 0;
  width: 120%;
  height: 120%;
  background-color: var(--bg);
}

@media(max-width: 900px) {
  .hero {
    flex-direction: column;
  }

  h1 {
    font-size: 60px;
  }

  .h1-revealer,
  .p-revealer,
  .logo-revealer,
  .contact-revealer {
    display: none;
  }

  .hero > div {
    padding: 8rem 4rem 2rem 4rem;
  }
}