* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "MOSKO MAPPA";
  src: url(./MOSKOMAPPA.otf);
}

html, body {
  width: 100%;
  height: 100%;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  z-index: 10;
  pointer-events: none;
}

nav a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "MOSKO MAPPA";
  pointer-events: all;
}

nav button {
  border: none;
  outline: none;
  color: white;
  background-color: black;
  border-radius: 0.25em;
  padding: 0.65em 1em 0.25em 1em;
  text-transform: uppercase;
  font-family: "MOSKO MAPPA";
  font-size: 24px;
  pointer-events: all;
}

.board {
  width: 100vw;
  height: 100vh;
  padding: 0.25em;
  display: flex;
  flex-direction: column;
  perspective: 1000px;
  background-color: black;
  position: relative;
  z-index: 1;
}

.row {
  flex: 1;
  display: flex;
  gap: 0.25em;
}

.tile {
  flex: 1;
  position: relative;
  transform-style: preserve-3d;
}

.tile-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 0.5em;
  overflow: hidden;
}

.tile-front {
  background-color: darkslategray;
}

.tile-back {
  background-color: darkslateblue;
  transform: rotateX(180deg);
}

.tile-front::before,
.tile-back::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: 600% 1000%;
  background-position: inherit;
  clip-path: inset(0 round 0.25em);
}

.tile-front::before {
  background-image: url("./wallpaper1.png");
}

.tile-back::before {
  background-image: url("./wallpaper2.jpeg");
}

.blocks-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  z-index: 2;
}

#blocks {
  width: 105vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  overflow: hidden;
}

.block {
  width: 50px;
  height: 50px;
  border: 0.5px solid transparent;
  transition: border-color 0.3s ease;
}

.hightlight {
  border-color: white;
}