* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "PP Nenu Montreal";
  src: url(../public/PPNeueMontreal-Variable.ttf);
}

html, body {
  width: 100%;
  height: 100%;
  font-family: "PP Nenu Montreal";
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75em 2em;
  display: flex;
  z-index: 2;
}

nav .nav-item {
  flex: 1;
}

nav .nav-item p {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  padding: 1em 0.25em;
  cursor: pointer;
}

.img-previews {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
  opacity: 0;
}

.img-previews img {
  width: 600px;
  height: 700px;
  padding: 1em 0;
}

.gallery-container {
  width: 100%;
  height: 100%;
  padding-top: 4em;
}

.gallery.layout-1-gallery {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateX(0%);
}

.gallery.layout-1-gallery .img {
  position: absolute;
  width: 100px;
  height: 125px;
}

.gallery.layout-1-gallery #img1,
.gallery.layout-1-gallery #img2,
.gallery.layout-1-gallery #img3,
.gallery.layout-1-gallery #img4 {
  top: 0%;
}

.gallery.layout-1-gallery #img5,
.gallery.layout-1-gallery #img6,
.gallery.layout-1-gallery #img7,
.gallery.layout-1-gallery #img8 {
  top: 25%;
}

.gallery.layout-1-gallery #img9,
.gallery.layout-1-gallery #img10 {
  top: 50%;
}

.gallery.layout-1-gallery #img11,
.gallery.layout-1-gallery #img12,
.gallery.layout-1-gallery #img13,
.gallery.layout-1-gallery #img14 {
  top: 75%;
}

.gallery.layout-1-gallery #img1,
.gallery.layout-1-gallery #img5,
.gallery.layout-1-gallery #img11 {
  left: 2em;
}

.gallery.layout-1-gallery #img2 {
  left: 15%;
}

.gallery.layout-1-gallery #img3,
.gallery.layout-1-gallery #img9 {
  left: 45%;
}

.gallery.layout-1-gallery #img4,
.gallery.layout-1-gallery #img10,
.gallery.layout-1-gallery #img12 {
  left: 65%;
}

.gallery.layout-1-gallery #img13 {
  left: 75%;
}

.gallery.layout-1-gallery #img6 {
  left: 25%;
}

.gallery.layout-1-gallery #img7 {
  left: 15%;
}

.gallery.layout-1-gallery #img8,
.gallery.layout-1-gallery #img14 {
  right: 2em;
}

.gallery.layout-2-gallery {
  padding-top: 0.5em;
  position: fixed;
  top: 25%;
  left: 10%;
  transform: translateX(0%);
}

.gallery.layout-2-gallery .img {
  width: 75px;
  height: 100px;
  margin-bottom: 1em;
}

.gallery.layout-3-gallery {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateX(0%);
}

.gallery.layout-3-gallery img {
  position: absolute;
  top: 4em;
  right: 4em;
  width: 300px;
  height: 400px;
}

.minimap {
  position: fixed;
  top: 25%;
  left: 12.5%;
  transform: translateX(-50%);
  width: 140px;
  height: 90px;
  border: 1px solid #000;
  border-radius: 2px;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}